@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.titulo-ficha {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 120%;
  font-weight: 600;
}

.label-ficha {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.input-ficha {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100%;
  box-shadow: black 3px 3px 5px;
  border-radius: 5px;
  outline: none !important;
  padding: 10px;
  font-size: 100%;
}
